button{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid yellow;
    background: yellow;
    color: blue;
    box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4) ;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}