h2{
    color: blue;
}
h3{
    color: rgb(25, 0, 255);
}
table,tr,th,td{
    border: 2px solid blue;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
}

th{
    background-color: brown;
}

td{
    background-color: aqua;
}

tr{
    background-color: chartreuse;
}
tr{
    background-image: url();
}
.container{
    background-image: url();
}