.wrapper{
    display: flex;
}
.wrapper>div{
    font-size: 4vh;
    color: white;
    background-color: chocolate;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
}
.wrapper .wrapper>div{
    background: beige;
    color: chocolate;
}