<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum odit, deleniti mollitia itaque cum soluta. Ea placeat quos corrupti repellat alias consequuntur, deserunt explicabo incidunt aut quidem nisi? Provident molestias accusamus optio blanditiis, perferendis doloremque minima, alias architecto tenetur vitae possimus excepturi illo nihil eos, unde accusantium suscipit veniam voluptatibus.</p>
    <button>click me</button>
</body>
</html>