<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chats</title>
</head>
<body>
    <h3>write new Chat..</h3>
    <form method="POST" action="/chats">
        <input placeholder="who are you" name="from" type="text">
        <br>
        <br>
        <textarea name="msg" id="" cols="30" rows="10">Write your massege</textarea>
        <br>
        <br>
        <input placeholder="reciver's name" name="to" type="text">
        <br>
        <br>
        <button>Create Chat</button>
    </form>

</body>
</html>