*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 25px;
    font-size: 18px;
    padding-left: 8px;

}
.container{
    background-color: rgb(231, 225, 221);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
input[type="text"],
input[type="email"]
input[type="number"],
input[type="password"],
input[type="date"],
fieldset,
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(207, 195, 195);
    border-radius: 10px;
    margin: 10px;
}
.main_heading{
    text-align: center;

}
input[type="submit"]{
    background-color: aqua;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(20, 49, 129);
}